---
---

$font-stack: 'Times New Roman', serif;
$dark: #000;
$light: #aaa;
$accent: #f00;

body {
  max-width: 800px;
  margin: 0 auto;
  color: $dark;
  font-size: 1.25em;
  line-height: 1.5em;
  font-family: $font-stack;  
  padding: 1em;
  text-align: justify;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  color: $dark;
}

.multivac {
  color: #000080; 
  font-weight: 600;
}
